body {
    background: #f8f8f8;
}
.skills{
    font-family: Didot;
    font-size: 24px;
    font-weight: 352;
    text-align: center;
}
.adobe{
    margin: auto;
}
.langage{
    margin: auto;
}

.logo {
    margin: auto;
    display: block;
}

.description {
    padding-left: 20px;
    padding-right: 20px;

}

.div_flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.div_des {
flex: 1;
}

.div_des ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.div_des ul li {
    margin: 5px 0;
}


.name {
    font-family: Didot;
    font-size: 32px;
    font-weight: 352;
    text-align: center;
    line-height: 42px;
    padding-top: 120px;
    grid-area: 1/1/2/3;

}

.accroche {
    font-family: poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
}

.hire_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    padding:40px;
}

.hire , .form_btn{
    font-family: poppins;
    font-size: 14px;
    font-weight: 500;
    background-color: #33383c;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 8px;
    width: 406px;
    height: 48px;
    text-align: center;
}
.form_btn{
    width:90px;
    height: 48px;

}

.change_color {
    background: white;
}

.img_intro {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
    margin: 0;
}



.me {
    grid-area: 1 / 1 / 2 / 3;
    max-width: 869px;
    display: block;
}

.rome {
    grid-area: 2 / 1 / 3 / 2;
}

.dog {
    grid-area: 3 / 2 / 2 / 3;
}

.text {
    grid-area: 1/3/3/4;
}


.toggle_bttn {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    gap: 10px;
}

#toggle {
    display: none;
}
.contact{
    font-family: Didot;
    font-size: 20px;
    font-weight: 800;
}

.checkbox {
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: lightgrey;
    position: relative;
    transition: all 1s;
    border-radius: 60px;
    cursor: pointer;
}

.checkbox:after {
    content: "";
    height: 15px;
    width: 15px;
    background-color: white;
    position: absolute;
    top: 5px;
    left: 6px;
    transition: all 1s;
    border-radius: 50%;
}

#toggle:checked + .checkbox:after {
    transform: translateX(24px);
}

#toggle:checked + .checkbox {
    background: #33383c;
}
