body {
    background: #f8f8f8;
}

.skills {
    font-family: Didot;
    font-size: 24px;
    font-weight: 352;
    text-align: center;
    padding-bottom: 32px;
}

.img_flex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 0;
}

/* les 3 liens en direction row avant le footer*/
.quality {
    padding: 12px 32px 12px 0;
}
.ul_quality {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;

}

.link_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    text-decoration: none;
}

/*image 1 des compétences*/
.adobe {
    grid-area: 1/2/2/3;
}

/*image 2 des compétences*/
.langage {
    grid-area: 1/3/2/4;
}

.div_ul_flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 32px;
}

.logo {
    margin: auto;
    display: block;
}

.description {
    padding-left: 20px;
    padding-right: 20px;
}

.div_flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.div_flex {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/*étendre le texte de la description en dessous des boutons*/
.decription_me {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*étendre tous les textes*/
.ul_flex {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 10px;
}

.ul_flex {

    list-style-type: none;
}

.ul_flex li {
    margin: 5px 0;
}

.div_des {
    flex: 1;
    background: none;
    border: none;
}

.div_des ul {

    list-style-type: none;
}


.name {
    font-family: Didot;
    font-size: 32px;
    font-weight: 352;
    text-align: center;
    line-height: 42px;
    padding-top: 120px;
    grid-area: 1/1/2/3;

}

.accroche {
    font-family: poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
}

/*bouton embauchez-moi*/
.hire_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    padding: 40px;
}

/*bouton embauchez-moi*/
.hire, .form_btn {
    font-family: poppins;
    font-size: 14px;
    font-weight: 500;
    background-color: #33383c;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 8px;
    width: 406px;
    height: 48px;
    text-align: center;
}

/*bouton du formulaire "confirmer"*/
.form_btn {
    width: 90px;
    height: 48px;

}

.change_color {
    background: white;
}

.img_intro {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
    margin: 0;
}


.me {
    grid-area: 1 / 1 / 2 / 3;
    max-width: 869px;
    display: block;
}

.rome {
    grid-area: 2 / 1 / 3 / 2;
}

.dog {
    grid-area: 3 / 2 / 2 / 3;
}

.text {
    grid-area: 1/3/3/4;
}

/*boutton d'accessibilité*/
.toggle_bttn {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    gap: 10px;
}

#toggle {
    display: none;
}

/*Légend du formulaire*/
.contact {
    font-family: Didot;
    font-size: 20px;
    font-weight: 800;
}

/*bouton accessibilité*/
.checkbox {
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: lightgrey;
    position: relative;
    transition: all 1s;
    border-radius: 60px;
    cursor: pointer;
}

/*bouton accessibilité*/
.checkbox:after {
    content: "";
    height: 15px;
    width: 15px;
    background-color: white;
    position: absolute;
    top: 5px;
    left: 6px;
    transition: all 1s;
    border-radius: 50%;
}

/*bouton accessibilité*/
#toggle:checked + .checkbox:after {
    transform: translateX(24px);
}

/*bouton accessibilité*/
#toggle:checked + .checkbox {
    background: #33383c;
}

